<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="PaginaPadrao">

<head>
    <title>Profissional</title>
</head>

<section layout:fragment="conteudo">
<div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Profissional</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                     
                        <a th:href="@{/Profissional/novo}" class="btn btn-primary pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Cadastrar</a>   
                        
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Profissional</a></li>
                            <li class="active">Profissional</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /row -->
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total de Profissionais</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash"></div>
                                </li>
                                <li class="text-right">
                                    <i class="ti-arrow-up text-success"></i>
                                    <span class="counter text-success" th:text="${listaProfissionais}">1</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                 </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                        	<th>#</th>
                                        	<th>Nro Conselho</th>
                                        	<th>UF Conselho</th>
                                            <th>Nome</th>
                                            
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="profissional : ${profissionais}">
                                            <td th:text="${profissional.id}"></td>
                                            <td th:text="${profissional.numeroConselho}"></td>
                                            <td th:text="${profissional.estadoConselho}"></td>
                                            <td th:text="${profissional.nome}"></td>
                                            
                                            <td class="text-center">
		   										<a class="btn btn-link btn-xs" th:href="@{/Profissional/Editar/{id}(id=${profissional.id})}">
		   											<span class="fa fa-pencil-square-o"></span>
		   										</a>
						   						<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
						   								th:attr="data-id=${profissional.id}, data-descricao=${profissional.nome}">
						   							<span class="fa fa-times-circle"></span>
						   						</a>
						   					</td>
                                        </tr>
                                        <tr>
		   									<td colspan="6" th:if="${#lists.isEmpty(profissionais)}">Nenhum Profissional foi encontrado</td>
		   								</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <div layout:include="DialogoConfirmacaoExclusao"></div>
        </div>
        <!-- /#page-wrapper -->

        
</section>

</html>