<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <div class="top-left-part">
           
            <a class="logo" href="index.html">
            
                <b>
                    <!--This is dark logo icon-->
                    <img src="" alt="home" class="dark-logo" />
                    <!--This is light logo icon-->
                    <img src="" alt="home" class="light-logo" />
                </b>
                
                <span class="hidden-xs">
                    <!--This is dark logo text-->
                    <img src="" alt="home" class="dark-logo" />
                    <!--This is light logo text-->
                    <img src="" alt="home" class="light-logo" />
                </span>
            </a>
        </div>
        
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li>
                <a class="profile-pic" href="#">
                    <img src="" alt="user-img" width="36" class="img-circle"/>
                    <b class="hidden-xs"></b>
                </a>
            </li>
        </ul>
    </div>
</nav>

</html>