<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="PaginaPadrao">

<head>
<title>Cadastro de Convênio</title>
</head>

<section layout:fragment="conteudo">
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row bg-title">
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					<h4 class="page-title">Cadastro Convênio</h4>
				</div>
				<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
					<ol class="breadcrumb">
						<li><a th:href="@{/}">Dashboard</a></li>
						<li class="active"><a th:href="@{/Convenio/}">Convênio</a></li>
					</ol>
				</div>
			</div>
			<!-- /.row -->
			
			<!--.row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading"> Cadastro do Convênio</div>
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body">
                                    <form class="form-horizontal" method="POST" th:action="@{/Convenio}" th:object="${convenio}">
                                    	<div layout:include="MensagemGeral"></div>
										<div layout:include="MensagemErro"></div>
										<input type="hidden" th:field="*{id}" />
                                        
                                        <div class="form-body">
                                            <h3 class="box-title">Informações Gerais</h3>
                                            <hr class="m-t-0 m-b-40"/>
                                            <div class="row">
	                                              <div class="col-md-7">
	                                                  <div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
	                                                  	<label class="control-label col-md-2" for="nome">Nome</label>
	                                                    <div class="col-md-10">
	                                                    	<input type="text" id="nome" placeholder="Nome" class="form-control" th:field="*{nome}" data-error="Informe o Nome do Convênio" required="true"/>
	                                                    	<div class="help-block with-errors"></div> 
	                                                    </div>
	                                                  </div>
	                                              </div>
	                                              
	                                              <div class="col-md-5">
		                                              <div class="form-group" th:classappend="${#fields.hasErrors('registroANS')} ? has-error">
														<label class="col-md-2" for="registroANS">Registro ANS</label>
														<div class="col-md-10">
															<input type="number" id="registroANS" placeholder="Registro ANS" class="form-control" th:field="*{registroANS}" data-error="Informe o registro ANS" required="true"/>
															<div class="help-block with-errors"></div>
														</div>
													  </div>
	                                             </div> 
                                              </div>
                                              <!--/row-->
                                              <div class="row">
	                                                <div class="col-md-6">
	                                                    <div class="form-group" th:classappend="${#fields.hasErrors('cnpj')} ? has-error">
	                                                        <label for="cnpj" class="control-label col-md-2">CNPJ</label>
	                                                        <div class="col-md-10">
	                                                            <input id="cnpj" placeholder="cnpj" type="text" class="form-control" th:field="*{cnpj}" data-error="Informe o cnpj válido" required="true"/>
	                                                            <div class="help-block with-errors"></div> 
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                
		                                            <div class="col-md-6">
	                                                    <div class="form-group" th:classappend="${#fields.hasErrors('razaoSocial')} ? has-error">
	                                                        <label for="razaoSocial" class="control-label col-md-2">Razão Social</label>
	                                                        <div class="col-md-10">
	                                                            <input id="razaoSocial" placeholder="Razão Social" type="text" class="form-control" th:field="*{razaoSocial}" data-error="Informe Razão Social" required="true"/> 
	                                                       		<div class="help-block with-errors"></div> 
	                                                        </div>
	                                                    </div>
	                                                </div>
                                              </div>
                                              <!--/row-->
                                                  
                                              <!--/row-->
                                              <div class="row">
	                                                <div class="col-md-6">
	                                                    <div class="form-group" th:classappend="${#fields.hasErrors('codigoCNS')} ? has-error">
	                                                        <label for="codigoCNS" class="control-label col-md-2">Código CNS</label>
	                                                        <div class="col-md-10">
	                                                            <input id="codigoCNS" placeholder="Código CNS" type="text" class="form-control" th:field="*{codigoCNS}" data-error="Informe o codigo CNS válido" required="true"/>
	                                                            <div class="help-block with-errors"></div> 
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                
		                                            <div class="col-md-6">
	                                                    <div class="form-group" th:classappend="${#fields.hasErrors('telefone')} ? has-error">
	                                                        <label for="telefone" class="control-label col-md-2">Telefone</label>
	                                                        <div class="col-md-10">
	                                                            <input id="telefone" placeholder="telefone" type="text" class="form-control" th:field="*{telefone}" data-error="Informe telefone" required="true"/> 
	                                                       		<div class="help-block with-errors"></div> 
	                                                        </div>
	                                                    </div>
	                                                </div>
                                              </div>
                                              <!--/row-->    

                                              <!--/row-->
                                              <div class="row">
	                                                <div class="col-md-6">
	                                                    <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
														<label class="col-md-2" for="email">Email</label>
														<div class="col-md-10">
															<input type="email" id="email" placeholder="email@dominio.com.br" class="form-control" th:field="*{email}" data-error="Informe um email válido" required="true"/>
															<div class="help-block with-errors"></div>
														</div>
													  </div>
	                                                </div>
	                                                
		                                            <div class="col-md-6">
	                                                    <div class="form-group" th:classappend="${#fields.hasErrors('periodoRetorno')} ? has-error">
	                                                        <label for="periodoRetorno" class="control-label col-md-3">Período de Retorno</label>
	                                                        <div class="col-md-9">
	                                                            <input id="periodoRetorno" placeholder="Período de Retorno" type="number" class="form-control" th:field="*{periodoRetorno}" data-error="Informe período de Retorno" required="true"/>
	                                                       		<div class="help-block with-errors"></div> 
	                                                        </div>
	                                                    </div>
	                                                </div>
                                              </div>
                                              <!--/row-->
                                              
                                              <!--/row-->
                                              <div class="row">
                                              	<div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Particular ?</label>
                                                        <div class="radio-list">
                                                            <label class="radio-inline p-0">
                                                                <div class="radio radio-info">
                                                                    <input type="radio" name="radio" id="particular1" th:field="*{particular}" th:value="${true}"/>
                                                                    <label for="particular1">Sim</label>
                                                                </div>
                                                            </label>
                                                            <label class="radio-inline">
                                                                <div class="radio radio-info">
                                                                    <input type="radio" name="radio" id="particular2" th:field="*{particular}" th:value="${false}"/>
                                                                    <label for="particular2">Não</label>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>	
                                              <!--/row-->    

                                        </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn btn-success">Salvar</button>
                                                            <button type="button" class="btn btn-default">Cancelar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--./row-->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /#page-wrapper -->
</section>
</html>