<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon.png}" />
    <title>Agenda Clinica</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/dist/css/bootstrap.min.css}" />
    <!-- Data Table CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.dataTables.min.css}" />    
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar-nav.min.css}" />
    <!-- Color picker plugins css -->
    <link th:href="@{/css/asColorPicker.css}" rel="stylesheet"/>
    <!-- Date picker plugins css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}"/>
    
	<link rel="stylesheet" type="text/css" th:href="@{/js/custom-select/custom-select.css}"  />
    <link th:href="@{/js/custom-select/custom-select.css}" rel="stylesheet" />
    <link th:href="@{/js/switchery/dist/switchery.min.css}" rel="stylesheet" />
    <link th:href="@{/js/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet" />
    <link th:href="@{/js/bootstrap-tagsinput/dist/bootstrap-tagsinput.css}" rel="stylesheet" />
    <link th:href="@{/js/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css}" rel="stylesheet" />
    <link th:href="@{/js/multiselect/css/multi-select.css}" rel="stylesheet" type="text/css" />    
    
    <!-- animation CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <!-- color CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/colors/megna-dark.css}" id="theme" />
    
</head>

<body>
<!-- Preloader -->
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<section id="wrapper" class="new-login-register">
      <div class="lg-info-panel">
              <div class="inner-panel">
                  
                  <div class="lg-content">
                      <h2>Projeto Agenda Médica</h2>
                      <p class="text-muted">Desenvolvido na disciplina : Desenvolvimento de Sistemas Coorporativos</p>
                     
                  </div>
              </div>
      </div>
      <div class="new-login-box">
                <div class="white-box">
                <div class="aw-simple-panel__message  is-error" th:if="${#bools.isTrue(param.error)}">
			O e-mail e/ou senha não conferem
		</div>
                  <form class="form-horizontal new-lg-form" id="loginform" th:action="@{/login}" method="POST">
                    
                    <div class="form-group  m-t-20">
                      <div class="col-xs-12">
                        <label>Email</label>
                        <input class="form-control" type="text" name="email" placeholder="email"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>Senha</label>
                        <input class="form-control" type="password" name="senha" placeholder="Senha"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                        <div class="checkbox checkbox-info pull-left p-t-0">
                          <input id="checkbox-signup" type="checkbox"/>
                          <label for="checkbox-signup"> Lembrar </label>
                        </div>
                        <a th:href="@{/auth/forgot}" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Esqueceu a senha?</a> </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                      <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Acessar</button>
                      </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="form-group m-b-0">
                    </div>
                  </form>
                  <form class="form-horizontal" id="recoverform" action="index.html">
                    <div class="form-group ">
                      <div class="col-xs-12">
                        <h3>Recuperar senha</h3>
                        <p class="text-muted">Informe seu email cadastrado e siga as instruções</p>
                      </div>
                    </div>
                    <div class="form-group ">
                      <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Email"/>
                      </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                      <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                      </div>
                    </div>
                  </form>
                </div>
      </div>            
  
  
</section>
    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- Menu Plugin JavaScript -->
    <script th:src="@{/js/sidebar-nav.min.js}"></script>
    <!--slimscroll JavaScript -->
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/js/waves.js}"></script>
    <!-- Custom Theme JavaScript -->
    <script th:src="@{/js/custom.min.js}"></script>
    <!--Counter js -->
    <script th:src="@{/js/jquery.waypoints.js}"></script>
    <script th:src="@{/js/jquery.counterup.min.js}"></script>
    <!-- chartist chart -->
    <script th:src="@{/js/chartist.min.js}"></script>
    <script th:src="@{/js/chartist-plugin-tooltip.min.js}"></script>
    <!-- Sparkline chart JavaScript -->
    <script th:src="@{/js/jquery.sparkline.min.js}"></script>
    <!-- Custom Theme JavaScript -->
    <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/buttons.flash.min.js}"></script>
    <script th:src="@{/js/dashboard1.js}"></script>
    <script th:src="@{/js/jquery.toast.js}"></script>
    <script th:src="@{/js/clinica.js}"></script>
    <script th:src="@{/js/validator.js}"></script>
    <!--Style Switcher -->
    <script src="/js/jQuery.style.switcher.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script th:src="@{/js/jquery-asColor.js}"></script>
    <script th:src="@{/js/jquery-asGradient.js}"></script>
    <script th:src="@{/js/jquery-asColorPicker.min.js}"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/switchery/dist/switchery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/custom-select/custom-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-select/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/multiselect/js/jquery.multi-select.js}"></script>
    <script>
    jQuery(document).ready(function() {
        // Switchery
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        $('.js-switch').each(function() {
            new Switchery($(this)[0], $(this).data());
        });
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();
        //Bootstrap-TouchSpin
        $(".vertical-spin").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'ti-plus',
            verticaldownclass: 'ti-minus'
        });
        var vspinTrue = $(".vertical-spin").TouchSpin({
            verticalbuttons: true
        });
        if (vspinTrue) {
            $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
        }
        $("input[name='tch1']").TouchSpin({
            min: 0,
            max: 100,
            step: 0.1,
            decimals: 2,
            boostat: 5,
            maxboostedstep: 10,
            postfix: '%'
        });
        $("input[name='tch2']").TouchSpin({
            min: -1000000000,
            max: 1000000000,
            stepinterval: 50,
            maxboostedstep: 10000000,
            prefix: '$'
        });
        $("input[name='tch3']").TouchSpin();
        $("input[name='tch3_22']").TouchSpin({
            initval: 40
        });
        $("input[name='tch5']").TouchSpin({
            prefix: "pre",
            postfix: "post"
        });
        // For multiselect
        $('#Convenios').multiSelect();
        $('#locaisAtendimentos').multiSelect();
        $('#especialidades').multiSelect();
        
        $('#optgroup').multiSelect({
            selectableOptgroup: true
        });     
    });

    </script>	
<script type="text/javascript">
$(document).ready(function() {
    $('#myTable').DataTable();
    $(document).ready(function() {
        var table = $('#myTable').DataTable({
            "columnDefs": [{
                "visible": false,
                "targets": 2
            }],
            "order": [
                [2, 'asc']
            ],
            "displayLength": 25,
            "drawCallback": function(settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(2, {
                    page: 'current'
                }).data().each(function(group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                        last = group;
                    }
                });
            }
        });
        
    });
});

</script>        
</body>

</html>