<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="PaginaPadrao">

<head>
<title>Cadastro de Paciente</title>
</head>

<section layout:fragment="conteudo">
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row bg-title">
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					<h4 class="page-title">Profile page</h4>
				</div>
				<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
					<a href="https://wrappixel.com/templates/ampleadmin/"
						target="_blank"
						class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Upgrade
						to Pro</a>
					<ol class="breadcrumb">
						<li><a href="#">Dashboard</a></li>
						<li class="active">Profile Page</li>
					</ol>
				</div>
			</div>
			<!-- /.row -->
			<!-- .row -->
			<div class="row">
				<div class="col-md-8 col-xs-12">
					<div class="white-box">
						<form class="form-horizontal form-material" method="POST"
							th:action="@{/Paciente/novo}" th:object="${paciente}">
							<div layout:include="MensagemGeral"></div>
							<div layout:include="MensagemErro"></div>
							<input type="hidden" th:field="*{id}" />
							<div class="form-group"
								th:classappend="${#fields.hasErrors('nome')} ? has-error">
								<label class="col-md-12" for="nome">Nome</label>
								<div class="col-md-12">
									<input type="text" id="nome" placeholder="Nome Completo"
										class="form-control form-control-line" th:field="*{nome}" />
								</div>
							</div>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('email')} ? has-error">
								<label for="example-email" class="col-md-12" for="email">Email</label>
								<div class="col-md-12">
									<input type="email" id="email"
										placeholder="email@dominio.com.br"
										class="form-control form-control-line" th:field="*{email}" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<button type="submit" class="btn btn-success">Salvar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /#page-wrapper -->
</section>
</html>